.essentials {
    padding: 32px;
}

.essential-block {
    background-color: #F5F3F3;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
}

.essential-block img {
    flex: 2;
    object-fit: cover;
    max-height: 340px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

.essential-block-texts {
    padding: 36px;

}

.essential-block-texts h2 {
    width: 400px;
    margin-top: 32px;
}

.essential-block-texts p {
    width: 80%;
    margin-top: 40px;
}